.aboutusHeaders{
    font-family: Copperplate;
    font-weight: bold;
    color : #1d1e3e;
    margin-top: 50px;
    font-size: 40px;

}

.aboutusHeadersMAIN{
    font-size: 60px;
}

.aboutus-text-container{
    font-size: 20px;
    line-height: 35px;

}

.PolicyHorizonIcon{
    width: 350px;
    height: 100px;
}


