.Home {
  background-color: white;
}

.proj-image{
  width: 100%;
}

.overview{
  text-align: center;
}


.projects-container{
  background-color: white;
}

.project-title{
  background-color: white;
  padding: 10px;
  text-shadow: 2px 2px 5px #1d1e3e;
  margin-bottom: 20px;
  border-bottom-color: #1d1e3e;
  border-bottom-style: solid;
  border-top-color: #1d1e3e;
  border-top-style: solid;
}

.project-title h1{
  color: #1d1e3e;
}

.overview{
  text-align: center;
  background-image: url("images/backdrop4.jpeg");
  background-size: cover;
}

.projCard{
  min-height: 580px;
  margin-bottom: 20px;
}

.projCard Button{
  position: static;
}

.overview p{
  color: #1d1e3e;
  text-shadow: 2px 2px 5px #1d1e3e;
}

.overview h1{
  color:#1d1e3e;
  text-shadow: 2px 2px 5px #1d1e3e;
}

.button{
  padding: 16px;
  font-size: 16px;
  position:right;
  background-color: #1d1e3e;
  color: #FFFDFB;
  border: none;
}


.subheading{
  color: #641c30;
}
.paragraph{
  color: #1d1e3e;
}

.image-container img{
  width: 50%;
  position: relative;
  text-align: center;
}

.projects Button{
  background-color: #1d1e3e;
  border: none;
}

/* Footer  */
.footer a{
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: serif;
}

.footer{
  padding-top:20px;
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1d1e3e;
  color: #FFFDFB;
  vertical-align: middle;
  margin-top: 20px;
}

.footer p{
  color: #FFFDFB;
  font-size: 16px;
  text-align: center;
  margin:10px;
}

.footer h6{
  color: #FFFDFB;
  text-align: center;
  margin:0;
}

.footer img{
  background-color: #1d1e3e;
  padding-bottom: 20px;
}
