.App {
  text-align: center;
}

/*
PROJECT PAGES
=============
*/

.proj-title{
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 30px 30px 20px 30px;
  background-color: #fffdfb;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #1d1e3e;
}

.proj-images{
  padding: 10px 100px;
}

.description p{
 margin: 0px 30px;
 font-size: 22px;
}


.about-the-team{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px 10px 75px 10px;
}


/*
CENTRAL TEAM PROJECT DESCRIPTION
*/

.central-team{
  margin: 30px;
}

.central-team p{
  font-size: 22px;
}


/*
TEAM MEMBER IMAGES AND NAMES
*/

.team-members{
  font-size: 35px;
  font-family: Copperplate;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 20px 0px 5px 0px;
  margin-top: 10px;
}

.member{
  padding: 10px;
  width: 25%;
}

.member-card{
  min-height: 420px;
}

.img-container{
  position: relative;
}

.img-container:hover .headshots{
  opacity: 0.4;
}

.img-container:hover .middle {
  opacity: 1;
}

.headshots {
  width:150px;
  object-fit:cover;
  float: center;
  padding: 0px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-text{
  background-color: #1d1e3e;
  padding: 12px;
  color: #fffdfb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}


.supervisor {
  margin-bottom: 30px;
}

.images{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


/*
SUPERVISOR NAME AND INFO
*/

.supervisor-container{
  background-color: #fffdfb;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #1d1e3e;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.supervisor {
  margin-bottom: 30px;
}

.supervisor-info{
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.team-members{
	font-size: 35px;
  font-family: Copperplate;
  font-weight: bold;
	margin-bottom: 10px;
  padding: 20px 0px 5px 0px;
  margin-top: 10px;
}
.supervisor, .student{
  color: #1d1e3e;
	font-size: 20px;
	font-family: Copperplate;
}

