.footer a{
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: serif;
}

.footer a:hover{
  color: #979797;
}
.footer{
  position: bottom;
  /* left: 0; */
  padding-top: 20px;
  padding-bottom: 20px;
  /* bottom: 0; */
  width: 100%;
  background-color: #1d1e3e;
  color: #FFFDFB;
  vertical-align: middle;
  text-align: center;
}

.footer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #1d1e3e;
}

.footer p{
  color: #FFFDFB;
  font-size: 16px;
  text-align: center;
  margin:auto;
}

.footer h6{
  color: #FFFDFB;
  text-align: center;
  margin:auto;
  text-decoration: underline;
}
