.navbar a{
  font-size: 20px;
  display: inline-block;
  padding: 14px 16px;
  color: #FFFDFB;
  text-decoration: none;
  /* background-color: #1d1e3e; */
}

.drop{
  background-color: #1d1e3e;
}

.arrow{
  background-color: #1d1e3e;
  border:none;
}

.arrow:hover{
  background-color: #979797;
}

.dItem{
  color: #fffdfb;
}

.nav_link{
  font-size: 20px;
  font-family: sans-serif;
}
.nav_link h4{
  padding-top: 25px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}
.nav_link h4:hover{
  color: #979797;
}

.navbar{
  vertical-align: top;
  background-color: #1d1e3e;
}

.navbar a{
  font-size: 20px;
  /* display: block; */
  padding: 14px 16px;
  color: #FFFDFB;
  text-decoration: none;
}

.navbar{
  /* float: right; */
  vertical-align: top;
  background-color: #1d1e3e;
}

.navbar img {
  max-width: 300px;
}